.image { 
    position: absolute; 
    width: 100%; /* for IE 6 */
}

html {
    background-color: gray;
}

.background-gray {
    background-color: gray;
}

h2 { 
    position: relative; 
    top: 100px; 
    left: 0; 
    width: 100%;
    text-align: center;
    justify-content: center;
    margin: 0;
    width: 75%;
    padding-left: 25%;
}

h2 span { 
    color: white; 
    font: bold 24px/45px Helvetica, Sans-Serif; 
    letter-spacing: -1px;  
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.4);
    padding: 5px;
    text-shadow: -1.4px 0 black, 0 1.4px black, 1.4px 0 black, 0 -1.4px black;
}

.jumbotron {
    margin-left: 150px;
    margin-right: 150px;
}

.certificate {
    width: 100%;
}

.accordionTitle {
    color: #007bff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.transparent {
    background-color: transparent!important;
}

.accordionTest {
    top: 100px;
}

.accordionTest2 {
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.modal-dialog{
    text-align:center;
}

.mainSpan {
    text-align: center;
    width: auto;
}

.modal-content{
    display:inline-block;
}

@media screen and (max-width: 768px) {
    /* The body's bg color will be #333 */
  .screen {
      padding-bottom: 100px;
      margin-bottom: 100px;
  }

  .image {
      background-repeat: repeat-x;
      background-repeat: repeat-y;
  }
}

@media screen and (max-width: 1024px) {
    /* The body's bg color will be #333 */
  .screen2 {
    padding-bottom: 100px;
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 1186px) {
    /* The body's bg color will be #333 */
  .screen2 {
    padding-bottom: 100px;
    margin-bottom: 100px;
  }
}