.textGold {
    color:  #D5AD6D;
}

.imageContainer div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: black;
    color: white;
    margin-bottom: 5px;
    font-family: sans-serif;
    font-size: 25px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
}

.imageContainer:hover{
    cursor: pointer;
}

.imageContainer:hover div{
    width: 350px;
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.7; 
}

.title {
    cursor: default;
}

.imagePortfolio {
    position: absolute; 
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../images/mainImage.jpeg");
    background-repeat: repeat-y;
}

.portfolioHeader {
    color: #007bff;
    font: bold 45px/40px Helvetica, Sans-Serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}